/*STAGED CHANGES ABOVE HERE*/

body {
    background-color: #21D5D8;
    font-family: 'Roboto Mono', monospace;
    color: black;
}

a {
    color: #218DD8;
    text-decoration: none;
}

#banner {
    margin: 3vh 1rem;
    font-family: 'Pacifico', cursive;
    min-height: 10vh;
    max-height: 33vh;
    font-size: 4.5em;
    text-align: center;
}

#bio {
    padding: 3vh 2vw;
    margin: 3vh 15vw;
    margin-bottom: 0vh;
    border-radius: 30px;
    max-height: 25vh;
    text-align: center;
    overflow: scroll;
    background-color: #FFF8DC;
}

#main {
    display: flex;
    height: 60vh;
    margin: 5vh 10vw;
    margin-top: 2.5vh;
}

.panel {
    padding: 1rem;
    flex: 50%;
}

#headshot {
    display: block;
    margin: auto;
    min-width: 200px;
    min-height: auto;
    height: auto;
    width: 55%;
    max-width: 100%;
    max-height: auto;
    border-radius: 10%;
}

.logo-container {
    margin: 5% 0;
    width: 75%;
    padding: 1.5rem;
    background-color: #FFF8DC;
    border-radius: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logo {
    width: 10%;
    height: 10%;
    padding: 5px;
    vertical-align: middle;
}

.logo-text {
    font-size: 1.5vw;
    white-space: nowrap;
    vertical-align: middle;
}

.logo, .logo-text {
    display: inline-block; /* or 'inline' */
    vertical-align: middle; /* To align them vertically */
}


@media (max-width: 767px) {

    #bio {
        margin: 3vh 2rem;
    }

    #main {
        flex-direction: column;
        height: auto;
    }

    #headshot {
        margin: auto;
    }    

    .logo-container {
        margin: 5% auto;
    }

    .logo-text {
        font-size: clamp(1em, .5em + 1.5vw, 2em);
    }
}

@media (max-width: 425px) {

    #banner {
        font-size: 2.5em;
    }
}

#celestialBody {
    position: absolute;
    z-index: -1;
}

#cloud1 {
    position: absolute;
    z-index: -1;
}

#cloud2 {
    position: absolute;
    z-index: -1;
}

#cloud3 {
    position: absolute;
    z-index: -1;
}